html{display:flex;justify-content:center;font-size:62.5%;font-family:"Mplus 1p";background-color:#333333}body{width:960px;font-size:1.4rem;color:#f9f9fa}article{color:#222222;background-color:#f9f9fa;margin:1rem;padding:1rem;border-radius:1rem}article a{color:#333333}footer{margin-top:5.0rem;color:#FEFEFE;font-weight:900;text-align:center}img{width:100%}a{color:#FEFEFE}.title{margin-top:1rem;margin-bottom:1rem;text-align:center;font-weight:900}.logo a{color:#FEFEFE;font-weight:900}@media screen and (min-width:600px){article{margin:3rem;padding:3rem;border-radius:1rem}.title{margin-top:3rem;margin-bottom:3rem}}.namefeed{margin-bottom:3rem}.selif-box p{margin-top:1rem;margin-left:1rem}.selif-box p:before,.selif-box p:after{content:"\"";
    font-weight: 900;
    font-size: 120%;
    margin-left: 0.5rem;
    margin-right: 0.5rem; }

.namefeed .head {
  display: flex;
  flex-direction: row; }

.namefeed img {
  height: 3rem;
  width: 3rem;
  border-radius: 40%; }

.namefeed .head p {
  margin: 0.5rem 1.0rem;
  font-weight: bold; }

.namefeed .serif-box p {
  font-size: 1.4rem;
  margin: 1.2rem; }
