$white: #FEFEFE
$text_black: #222222

h1, h2, h3
  font-weight: 400
  &:before 
    content: "# "
    color: #008800
    font-size: 120%

html
  font-size: 62.5%
  height: 100vh
  width: 100vw
  display: flex
  justify-content: center

body
  margin: 0px
  font-size: 1.6rem
  font-family: 'Noto Sans Japanese', sans-serif
  background-image: url(/images/forest_bg.jpg)
  background-position: center center
  background-repeat: no-repeat
  background-attachment: fixed
  background-size: cover
  background-color: #222222
  width: 900px
  padding: 1rem 3rem

header  
  margin-bottom: 2.5rem
  padding: 2rem 4rem 2.5rem 4rem
  background-color: rgba(254,254,254,0.8)
  color: $text_black
  h1
    margin: 0rem
    text-align: left
    font-size: 4.2rem
    letter-spacing: -0.1rem
    &:before
      content: ""
  nav
    text-align: right
    a
      color: $text_black
      font-weight: 200
      margin: 0rem
      margin-left: 1rem

main
  padding: 1rem 5rem 1rem 5rem
  background-color: rgba(254,254,254,0.8)
  color: $text_black

footer
  padding: 1rem 5rem 1rem 5rem
  margin-top: 2.5rem
  background-color: rgba(254,254,254,0.8)
  font-weight: 300
  text-align: center
  a
    color: $text_black
    display: inline
  div
    display: inline

p
  font-weight: 200

a
  color: #004400

li
  list-style: none

.namefeed
  margin-bottom: 3rem

.selif-box p
  margin-top: 1rem
  margin-left: 1rem
  &:before, &:after
    content: "\""
    color: #00AA00
    font-weight: 900
    font-size: 120%
    margin-left: 0.5rem
    margin-right: 0.5rem

.namefeed .head
  display: flex
  flex-direction: row

.namefeed img
  height: 3rem
  width:  3rem
  border-radius: 40%

.namefeed .head p
  margin: 0.5rem 1.0rem
  font-weight: bold

.namefeed .serif-box p
  font-size: 1.4rem
  margin: 1.2rem

