<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>のばなしうさぎ - $title$</title>
        <link rel="stylesheet" href="/css/default.css" />
        <link href="https://fonts.googleapis.com/earlyaccess/mplus1p.css" rel="stylesheet" />
    </head>
    <body>
        <header>
            <div class="logo">
                <a href="/">現代魔術研究会</a>
            </div>
        </header>

        <main role="main">
            <h1 class="title" id="title">$title$</h1>
            $body$
        </main>

        <footer>
            This site published under the 
            <a href="https://creativecommons.org/licenses/by/4.0/legalcode.ja">CC</a>.
        </footer>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
 	    <script src="/js/fittext.js"></script>
	    <script type="text/javascript">$$("#title").fitText();</script>
    </body>
</html>
