<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>現代魔術研究会 - $title$</title>
        <link href="https://fonts.googleapis.com/earlyaccess/notosansjapanese.css" rel="stylesheet" />
        <link href="/css/default.css" rel="stylesheet" type="text/css" />
    </head>
    <body>
        <header>
            <nav>
                <a href="about.html">About</a>
                <a href="member.html">Member</a>
                <a href="archive.html">Archive</a>
            </nav>
            <h1>$title$</h1>
        </header>
        <main>
            $body$
        </main>
        <footer>
            <a href="https://twitter.com/m_witchcraft/">@m_witchcraft</a></br>
            This site published under the CC licence.
        </footer>
    </body>
</html>

